@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(../Images/employee.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.645);
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: yellow;
    font-weight: bold;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: yellow;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field {
    background: rgb(255, 255, 255);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #000;
}

form p {
    margin-top: 30px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

form p a {
    text-decoration: none;
    color: yellow;
}

form p a:hover {
    color: whitesmoke;
}

.btn-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn-field input {
    flex-basis: 48%;
    background: rgba(255, 255, 0, 0.742);
    color: #000;
    height: 30px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin-bottom: 20px;
    width: 60%;
}

.btn-field input:hover {
    background-color: whitesmoke;
}

.input-group {
    height: 435px;
}

.btn-field > div {
    flex-basis: 48%; /* Adjust this value as needed */
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.btn-field > div span {
    margin-right: 10px;
    color: #fff;
}

.btn-field > div a {
    text-decoration: none;
    color: yellow;
}

.btn-field > div a:hover {
    color: whitesmoke;
}

